target/
build/
project/target
project/project
project/plugins/project
.externalNativeBuild/
.idea/
.bloop/
.metals/
tags
local.properties
zstd-jni.iml
sonatype
gradlew*
.gradle
*.swp
*.o
/Makefile
/CMakeFiles
/CMakeCache.txt
/cmake_install.cmake
